<h1>About Us</h1>
<hr>
<div class="container">
  <p>With a proven track record in effective risk assessment, in developing and implementing financial plans, in business systems, and in financial and administrative infrastructure, Karen focuses on building a collaborative environment: balancing the obejctives and relationships  of sales/customer relations, operations and finance, leading to improved overall profitability and performance.</p>
  <hr>
  <br />
  <p>Prior to establishing Galli Consulting, Inc., Karen held accounting and management positions in the banking, legal and real estate industries, and financial and operational leadership roles across several industries, including retail, hospitality, legal, non-profit and banking. Most recently, Karen served as CFO of Woodlands Market, an award-winning upscale gourmet retailer in the San Francisco Bay Area. In her role as CFO, she was an integral part of the team that grew the company from one to four locations, including a restaurant.</p>
  <hr>
  <br />
  <p>With this rapid growth experience, she formed GCI, a strategic partner in innovative solutions -- providing full-service business consulting and advisory services, outsourced accounting solutions, and human resource assistance to help business owners grow their companies.</p>
  <hr>
  <br />
  <p>Karen received her B.S. in Business Administration, Accounting Concentration, cum laude from San Francisco State University. She is in the process of completing her CMA and is a member of the Institute of Management Accountants.</p>
</div>  
